<!DOCTYPE html>
<html>
<head>
  <title>Store</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name%>'>
  <div id="banner">
    <%= image_tag("logo.png") %>
    <%= @page_title || "Our Products" %>
    <%= form_tag(products_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Books" %>
    <%= submit_tag "Search" %>
    <% end %>
  </div>
  <div id="columns">
    <div id="side">
      <div id='cart'>
        <%= render @cart %>
      </div>
      <ul>
        <li><a class="sideLink" href="./">Home</a></li>
        <li><a class="sideLink" href="#">Questions</a></li>
        <li><a class="sideLink" href="#">News</a></li>
        <li><a class="sideLink" href="#">Contact</a></li>
      </ul>
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </div>
</body>
</html>
